<!--  cart content  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
            <div class="my-cart">

            <div class="header">
                <div class="title">
                    <h1>Chef's Den</h1>
                </div>
                <div class="home">
                    <div>
                        <button class="home-buttons" id="home-button">Home</button>
                    </div>
                    <div>
                        <button class="user-favorite-button" id="fav-btn">Favorite</button>
                </div>
            </div>
             <body>
                <!-- user's cart modal -->
                <div id="user-cart-modal" class="modal">
                    <form class="modal-content animate">
                        <div class="user-cart-container">

              <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
              <script src="./js/index.js"></script>
              <script src="./js/apicall.js"></script>
            </body>