body, html {
    background-color: #733f34;
    height: 100%;
}

h4 {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
}

h5 {
    font-family: 'Poiret One', cursive;
    font-size: 22px;
}

h6 {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-template-rows: 10fr 1fr;
    box-sizing: border-box;
    height: 100%;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/basil-delicious-food-459469.jpg");
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-bottom: solid 10px rgba(255, 177, 32, 0.938); 
}

.hero > div {
    color: white;
}

#results-area {
    padding: 20px 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

.result {
    font-family: 'Pontano Sans', sans-serif;
    border: solid black 1px;
    padding: 10px 20px;
    background-color: #fafafa;
    color: black;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.title {
    grid-column: 2 / 3;
    padding-top: 20px;
    text-align: center;
    
}

.login {
    grid-column: 3 / 4;
    text-align: right;
    padding: 10px 10px 10px 0;;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.title > h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px rgba(255, 177, 32, 0.938);
}

.main {
    text-align: center;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main-input, .main-button {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(255, 177, 32, 0.938);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
}

.main-button {
    background: #420C3B;
    color: white;
}


/** Modal Stuff **/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0px;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #420C3B;
    margin: 2% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    color: white;
}

/* The Close Button */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Animate for the modal */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Login Modal styling */

.login-modal-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.login-modal-button {
    background-color: #420C3B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.login-modal-button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.acceptbtn {
    width: auto;
    padding: 10px 18px;
    background-color: blue;
}

.login-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.cancel-container, .selection-container {
    background-color:#f1f1f1
}


/* Filters Modal Styling */


.filters-container {
    padding: 10px;
}

.selection-container {
    display: grid;
    grid-template-columns: auto auto;
}

.accept {
    text-align: left;
}

.cancel {
    text-align: right;
}

.filter-button {
    padding: 5px 10px;
    background-color: rgba(255, 177, 32, 0.938); 
    border-radius: 5px;
    margin: 1px;

}

#recipe-section {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
}

#recipe-section > div {
    background-color: white;
    padding: 15px;
    color: black;
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;

}

.recipe-modal-ingredients-header {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 24px;
    padding: 5px 0 ;
}

.recipe-modal-ingredients-content {
    padding: 10px 0 0 20px;

}