<div>
    {{#each cartItems}}
    <p>
        <ul>
            <li>Name: {{ingredientName}}</li>
            <li>Belongs to: {{recipeId}}</li>
            <li>Quantity: {{qty}}</li>
        </ul>
    </p>
    {{/each}}
</div>