{{#each favoritesData}}

<div class="favorite" recipe-id="{{dataValues.recipe_id}}">
    <div class="favorite-image">
        <img src="{{dataValues.recipe_img}}" alt="">
        <h3>{{dataValues.recipe_img}}</h3>
    </div>
    <div class="favorite-name">
        <h4>{{dataValues.recipe_name}}</h4>
    </div>
</div>

{{/each}}