<div class="search-section">
    <input class="main-input" type="text" placeholder="Search..." id="query">
    <button class="main-button" type="button" id="add-ingredient">Add Ingredient</button>
    <button class="main-button" type="button" id="open-filters-modal">Filters</button>
    <button class="main-button" type="button" id="search-button">Search</button>
</div>
<div id="ingredients-area"></div>
<div id="filters-area"></div>