<div id="filters-modal" class="modal">

    <div class="modal-content animate">
        <div class="filters-container cuisines-section">
            <h5 class="filter-title">Cuisine</h5>
            <span id="cuisines-content"></span>
        </div>
        <div class="filters-container diet-section">
            <h5 class="filter-title">Diets</h5>
            <span id="diets-content"></span>
        </div>
        <div class="filters-container intolerances-section">
            <h5 class="filter-title">Intolerances</h5>
            <span id="intolerances-content"></span>
        </div>
        <div class="filter-close-container">
            <button class="modal-button" type="button" id="filters-close">Close</button>
        </div>
    </div>

</div>