<div id="login-modal" class="modal">

    <div class="modal-content animate">
        <form id="login-form" autocomplete="on">
            <div id="login-container">
                <ul>
                    <li>
                        <label class="signup-labels" for="username">
                            <b>Username</b>
                        </label>
                        <input class="login-modal-input" type="text" placeholder="Enter Username" name="username" id="login-username" required>
                    </li>
                    <li>
                        <label class="signup-labels" for="password">
                            <b>Password</b>
                        </label>
                        <input class="login-modal-input" type="password" placeholder="Enter Password" name="password" id="login-password" autocomplete="off" required>
                    </li>
                </ul>
            </div>
            <div class="close-container">
                <div>
                    <button class="modal-button accept" type="submit" id="login-button">Login</button>
                </div>
                <div>
                    <button class="modal-button cancel" type="button" id="login-cancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>