<div id="recipes-modal" class="modal">

    <div class="modal-content animate">
        <div id="recipe-section"></div>
        <div class="filter-close-container">
            <button class="modal-button cancel" type="button">Close</button>
        </div>
    </div>

</div>