<div class="login">
    <div>
        <h6 class="login-buttons" id="open-home-page">home</h6>
    </div>
    <div>
        <h6 class="login-buttons" id="open-cart-page">shopping cart</h6>
    </div>
        <div>
        <h6 class="login-buttons" id="log-out">log out</h6>
    </div>

</div>