<div class="login">
    <div>
        <h6 class="login-buttons" id="open-signup-modal">sign up</h6>
    </div>
    <div>
        <h6 class="login-buttons" id="open-login-modal">login</h6>
    </div>
    </div>
</div>